* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  color: #fff;
}
ul,
ol,
li,
h2 {
  padding: 0;
  margin: 0;
}
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.container {
  background-color: #272763;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.points__list {
  display: flex;
  margin-left: -4px;
  justify-content: center;
}
.points__item {
  margin-left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.hero__photo {
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .hero__photo {
    width: 300px;
  }
  .container {
    max-width: 320px;
    overflow: hidden;
  }
  .hero__title {
    text-align: center;
  }
  .history__section {
    background-color: #fff;
    color: #000;
    padding-top: 20px;
  }
}
.left-side {
  background-color: rgb(39, 39, 99);
  color: white;
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project__link {
  font-family: Tangerine, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
}

.contact__link {
  color: inherit;
}

.info__title {
  color: rgb(201, 194, 107);
  margin-bottom: 10px;
}
.contain {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.contain__item {
  margin: 0;
  padding: 0 10px;
}

.education__title {
  margin-bottom: 15px;
}
.section__container {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    display: flex;
  }
  .section__advantages {
    min-width: 320px;
  }

  .hero__photo {
    margin: 0;
  }
  .left-side {
    display: block;
  }
  .info__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.info__item:not(:last-child) {
  margin-bottom: 20px;
}
.skills__item:not(:last-child),
.contact__item:not(:last-child) {
  margin-bottom: 5px;
}
