* {
  box-sizing: border-box;
}
$primaryColor: #ffffff;
$accentColor: #ff6b08;
$bgcColor: #1e2a3a;
$primaryTextColor: #828282;
$accentTextColor: #2a2a2a;
$contactTextColor: rgba(255, 255, 255, 0.6);
body {
  font-family: Montserrat, sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  color: $primaryTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
}

ul,
ol,
li,
h2 {
  padding: 0;
  margin: 0;
}
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $primaryTextColor;
}
h1,
h3 {
  color: $accentTextColor;
}
img {
  display: block;
}

.container {
  background-color: #272763;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.points__list {
  display: flex;
  margin-left: -4px;
  justify-content: center;
}
.points__item {
  margin-left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.hero__photo {
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .hero__photo {
    width: 340px;
  }
  .container {
    max-width: 320px;
    overflow: hidden;
  }
  .hero__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    margin: 0;
  }

  .history__section {
    background-color: #fff;
    padding-top: 20px;
  }
}
.left-side {
  background-color: $bgcColor;
  color: white;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}
.project__item {
  margin-bottom: 10px;
}
.project__link {
  color: $accentColor;
}
.project__link__description {
  color: $primaryTextColor;
}

.contact__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.contact__link {
  color: $contactTextColor;
}

.info__title {
  color: $primaryColor;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.22;
  font-weight: 700;
}
.e1__title {
  margin: 0;
}
.contain {
  display: flex;
  flex-wrap: wrap;
}
.contain__item {
  margin: 0;
  padding: 0;
}

.education__title {
  margin-bottom: 15px;
}
.education__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-st {
  margin-bottom: 30px;
}
.logo__irgups {
  margin-bottom: 20px;
}
.link__irgups {
  flex-wrap: wrap;
}
.title__irgups {
  width: 170px;
}
.section__container {
  padding: 15px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    display: flex;
  }
  .section__advantages {
    min-width: 320px;
  }

  .hero__photo {
    margin: 0;
  }
  .left-side {
    display: block;
    padding-left: 40px;
    height: 1030px;
  }
  .info__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.info__item:not(:last-child) {
  margin-bottom: 30px;
}
.skills__item:not(:last-child),
.contact__item:not(:last-child) {
  margin-bottom: 5px;
}
